{% set format = true %}

# About

Hey 👋 I'm Paul, a Front-end Designer & Developer.

{% include "summary.njk" %}

Before 2020, I worked as a [Designer](https://www.creativelivesinprogress.com/article/paul-heading) 👨‍🎨 in the [Barbican Design Studio](https://www.creativelivesinprogress.com/article/barbican).

<br>

### What have I made

{% include "about/made.njk" %}

I also upload videos alongside projects for extra context. If you'd like to see more information on a particular project, please do let me know.

Take a look at my [resume page](https://paul.ly/resume) for more examples.

<br>

### My journey so far

{% include "about/why.njk" %}