---
import { InvisibleButton } from "paully";

let { className } = Astro.props;
---

<div class={className}>
  <InvisibleButton className="info_button">
    <slot />
  </InvisibleButton>
</div>

<style lang="scss">
  @use "~mixins" as *;

  .info_button {
    @include focus-color-switch(white, black);

    & {
      border-radius: 50%;
      display: block;
    }
  }

  .info_button.selected-state {
    @include focus-color-switch(green, white);
  }
</style>
