{% if format %}
I currently work with Vue.js on a range of projects ([Event Management App](https://paul.ly/projects/organising-spaces-with-graphql/), [Building Account Areas](https://paul.ly/projects/designing-account-areas-in-vuejs/)) for the Barbican, as well as recently completing [sparkthecannon.com](https://paul.ly/projects/sparking-the-cannon-with-nextjs/) (built with Next.js) for a freelance client.
{% else %}
I currently work with Vue.js on a range of projects (Event Management App, Building Account Areas) for the Barbican, as well as recently completing sparkthecannon.com (built with Next.js) for a freelance client.
{% endif %}

{% if format %}
My portfolio site is built using ~~[Next.js](https://nextjs.org)~~ the [Astro](https://astro.build) framework in combination with a few external APIs. I use [Trello](https://trello.com) to organise my case studies and pull playlists from [Spotify](https://spotify.com).
{% else %}
My portfolio site is built using the Astro framework in combination with a few external APIs. I use Trello to organise my case studies and pull playlists from Spotify.
{% endif %}