I love building things and solving problems. I've always been creative, but it was graphic design that taught me how to use it in a productive way.

Design and development are about communicating ideas, removing obstacles and bringing joy where possible.

{% if format %}
My career began in print design. I worked at [Skye Creative](http://www.skyecreative.co.uk/) and [Brandwave](https://brandwavemarketing.com/) before joining the Barbican in 2013.
{% else %}
My career began in print design. I worked at skyecreative.co.uk and brandwavemarketing.com before joining the Barbican in 2013.
{% endif %}

I began working as a digital designer, creating trailers for the in-house cinemas and animating HTML adverts with JavaScript.

{% if format %}
During this time I also began mentoring a young designer ([Ernest Wereko](https://www.ernestwereko.com/)) and built the website/brand for [36 Bourne Street](https://paul.ly/projects/selling-designer-fabric-with-wordpress/). 
{% else %}
During this time I also began mentoring a young designer (ernestwereko.com) and built the website/brand for 36bournestreet.com.
{% endif %}

{% if format %}
This was the start of my journey into web development, as I began studying for a [Full Stack JavaScript Techdegree](https://teamtreehouse.com/plans) at [TeamTreehouse.com](https://teamtreehouse.com).
{% else %}
This was the start of my journey into web development, as I began studying for a Full Stack JavaScript Techdegree at teamtreehouse.com.
{% endif %}

In 2020 the Barbican created a brand new job role (Front-end Designer & Developer) which I moved into to. 