---
import { InvisibleButton } from "paully";
import SelectForm from "~components/SelectForm";
import Section from "~components/Section";
import $cy from "~scripts/selectors/$cy";

import { section } from "~scripts/selectors/data";
import { button } from "~scripts/selectors/classNames";
import { source } from "~data/store/playlist";

let { choose_source } = $cy.selectForm;

let data = {
  snake: choose_source,
  state: "closed",
  type: "select",
  setting: true,
  group: null,
  card: null,
};

let formProps = {
  options: [{ title: source.title, data: source.id }],
  label: null,
  title: source.title,
  value: source.id,
  data,
};

let sectionProps = {
  name: section.select_form_row,
  style: {
    marginBottom: "1rem",
    marginTop: "1rem",
    display: "none",
  },
};
---

<div class="wrap_select_form_rows">
  <Section {...sectionProps}>
    <div class={section.select_form_row}>
      <SelectForm {...formProps} />
      <InvisibleButton className="remove-row">remove</InvisibleButton>
    </div>
  </Section>
</div>

<InvisibleButton className={button.source}>Add a custom source</InvisibleButton>

<style lang="scss">
  @use "~mixins" as *;

  .select_form_row {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 25rem;
    display: grid;
    gap: 1rem;

    @include small-up {
      grid-template-columns: auto 6.25rem;
    }
  }

  .remove-row {
    @include box;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }

  .source_button {
    @include box;
    margin-top: 1rem;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }
</style>
