---
import { InvisibleButton } from "paully";
import SelectForm from "~components/SelectForm";

import { section, selectForm } from "~scripts/selectors/data";
import { button } from "~scripts/selectors/classNames";
import { source } from "~data/store/playlist";

let { choose_source } = selectForm;

let data = {
  snake: choose_source,
  state: "closed",
  type: "select",
  setting: true,
  group: null,
  card: null,
};

let formProps = {
  options: [{ title: source.title, data: source.id }],
  label: null,
  title: source.title,
  value: source.id,
  data,
};
---

<div class="wrap_select_form_rows">
  <div class={section.select_form_row} style={{ display: "none" }}>
    <SelectForm {...formProps} />
    <InvisibleButton className="remove_row_button">remove</InvisibleButton>
  </div>
</div>

<InvisibleButton className={button.source}>Add a custom source</InvisibleButton>

<style lang="scss">
  @use "~mixins" as *;

  .select_form_row {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 25rem;
    gap: 1rem;

    + .select_form_row {
      margin-top: 1rem;
    }

    @include small-up {
      grid-template-columns: auto 6.25rem;
    }
  }

  .remove_row_button {
    @include box;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }

  .source_button {
    @include box;
    // margin-top: 1rem;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }

  .source_button.active {
    margin-top: 2rem;
  }
</style>
