---
import { InvisibleButton, SelectForm } from "paully";
import data from "~scripts/selectors/data";
import cnames from "~scripts/selectors/cnames";
import { source } from "~data/store/playlist";
import attrs from "~scripts/selectors/attrs";

let props = {
  options: [{ title: source.title, data: source.id }],
  class: "select_form",
  title: source.title,
  value: source.id,
  data: {
    [attrs.data.snake]: data.selectForm.choose_source,
    [attrs.data.state]: "closed",
    [attrs.data.type]: "select",
    [attrs.data.setting]: true,
  },
};
---

<div class="wrap_select_form_rows">
  <div class={data.section.select_form_row} style={{ display: "none" }}>
    <SelectForm {...props} />
    <InvisibleButton className="remove_row_button">remove</InvisibleButton>
  </div>
</div>

<InvisibleButton className={cnames.button.source}>
  Add a custom source
</InvisibleButton>

<style lang="scss">
  @use "~mixins" as *;

  .select_form_row {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 25rem;
    gap: 1rem;

    + .select_form_row {
      margin-top: 1rem;
    }

    @include small-up {
      grid-template-columns: auto 6.25rem;
    }
  }

  .remove_row_button {
    @include box;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }

  .source_button {
    @include box;
    // margin-top: 1rem;
    padding: 0.75rem;

    @include focus {
      background-color: white;
      outline: none;
    }
  }

  .source_button.active {
    margin-top: 2rem;
  }
</style>
