---
import { SolidButton, Wrap } from "paully";

import Card from "~components/Card";
import Section from "~components/Section";
import CustomButton from "~components/Buttons/Custom";
import ChooseSource from "~components/Sections/ChooseSource";
import PersonalGreeting from "~components/Sections/PersonalGreeting";

import filterStoreCardsById from "~scripts/filters/filterStoreCardsById";

let sectionProps = {
  name: "choose-card",
  style: {
    display: "none",
  },
};

let personals = [filterStoreCardsById("cindy"), filterStoreCardsById("badjo")];
---

<Section {...sectionProps}>
  <PersonalGreeting />
  <Wrap>
    <ChooseSource />
  </Wrap>
  <!-- Select Playlist Style -->
  <Wrap style={{ marginTop: "2rem" }}>
    <Wrap>
      <Section name="playlist">
        {personals.map((person) => <Card {...person} />)}
      </Section>
      <Section name="custom" style={{ display: "none" }}>
        <Card {...filterStoreCardsById("custom")} />
      </Section>
    </Wrap>
    <Wrap style={{ marginTop: "2rem" }}>
      <CustomButton>Custom job please</CustomButton>
    </Wrap>
    <Wrap style={{ marginTop: "2rem" }}>
      <SolidButton className="build-button">Let's Build!</SolidButton>
    </Wrap>
  </Wrap>
</Section>

<style lang="scss">
  @use "~mixins" as *;

  .build-button {
    max-width: 240px;
    width: 100%;
  }

  .build-button:not(.selected-state) {
    pointer-events: none;
    visibility: hidden;
  }
</style>
