---
import { SolidButton, Wrap } from "paully";

import store from "~data/store";

import Card from "~components/Card";
import Section from "~components/Section";
import CustomButton from "~components/Buttons/Custom";
import ChooseSource from "~components/Sections/ChooseSource";

let sectionProps = {
  name: "choose-card",
  style: {
    display: "none",
  },
};

let { query } = store;

let personals = [query.card.byId("cindy"), query.card.byId("badjo")];
---

<Section {...sectionProps}>
  <!-- Personalised Greeting -->
  <Wrap style={{ maxWidth: "28.75rem" }}>
    <h1 class="greeting">
      Hi <strong data-print="first_name">%%user%%</strong>
    </h1>
    <p>Let's make a playlist!</p>
    <p>
      <strong>Yearly</strong> finds your favourite songs from the last year and shares
      them with your friends.
    </p>
    <p>Pick a playlist <em>style</em> to get started.</p>
  </Wrap>
  <Wrap>
    <ChooseSource />
  </Wrap>
  <!-- Select Playlist Style -->
  <Wrap style={{ marginTop: "2rem" }}>
    <Wrap>
      <Section name="playlist">
        {personals.map((person) => <Card {...person} />)}
      </Section>
      <Section name="custom" style={{ display: "none" }}>
        <Card {...query.card.byId("custom")} />
      </Section>
    </Wrap>
    <Wrap style={{ marginTop: "2rem" }}>
      <CustomButton>Custom job please</CustomButton>
    </Wrap>
    <Wrap style={{ marginTop: "2rem" }}>
      <SolidButton className="build-button">Let's Build!</SolidButton>
    </Wrap>
  </Wrap>
</Section>

<style lang="scss">
  @use "~mixins" as *;

  .greeting {
    word-wrap: break-word;
    font-weight: normal;
  }

  .build-button {
    max-width: 240px;
    width: 100%;
  }

  .build-button:not(.selected-state) {
    pointer-events: none;
    visibility: hidden;
  }
</style>
