---
import Section from "~components/Section";

let sectionProps = {
  name: "confirm-settings",
  style: {
    marginBottom: "3rem",
    display: "none",
  },
};
---

<Section {...sectionProps}>
  <div class="box"></div>
</Section>

<style lang="scss">
  @use "~mixins" as *;

  .box {
    @include box;
  }

  .setting {
    @include setting;
  }
</style>
