---
import { Wrap } from "paully";
import Section from "#components/Section";
import BackButton from "#components/Buttons/Back";
import data from "#selectors/data";

let sectionProps = {
  name: data.section.empty_playlist,
  style: {
    display: "none",
  },
};
---

<Section {...sectionProps}>
  <p>sorry mate! you got no songs?!</p>
  <Wrap style={{ marginTop: "2rem" }}>
    <BackButton>Back to start</BackButton>
  </Wrap>
</Section>
