---
import Section from "~Components/Section";

let sectionProps = {
  name: "recommend-tracks",
  style: {
    display: "none",
  },
};
---

<Section {...sectionProps}>
  <p>how about adding these fine tunes?</p>
</Section>
