---
import Section from "~Components/Section";

let sectionProps = {
  name: "recommend-tracks",
  style: {
    display: "none",
  },
};
---

<Section {...sectionProps}>
  <p>[todo: build recommends feature]</p>
  <p>how about adding these fine tunes?</p>
</Section>

<style lang="scss">
  p:first-child {
    margin-top: 2rem;
  }
</style>
