---
import Section from "#components/Section";
import data from "#selectors/data";

let sectionProps = {
  name: data.section.recommend_tracks,
  style: {
    display: "none",
  },
};
---

<Section {...sectionProps}>
  <p>[todo: build recommends feature]</p>
  <p>how about adding these fine tunes?</p>
</Section>

<style lang="scss">
  p:first-child {
    margin-top: 2rem;
  }
</style>
