---
import { SolidButton, SpotifyWindow, Wrap } from "paully";
import Section from "~components/Section";
import BackButton from "~components/Buttons/Back";
import playlist from "~data/playlist";
import { section } from "~scripts/selectors/data";
import { button } from "~scripts/selectors/classNames";

let sectionProps = {
  name: section.save_playlist,
  style: {
    display: "none",
  },
};

let saveProps = {
  backgroundColor: "green",
  className: button.save,
  padding: 16,
};
---

<Section {...sectionProps}>
  <div class="wrap-playlist">
    <SpotifyWindow {...playlist} />
  </div>
  <Wrap style={{ marginTop: "3rem" }}>
    <SolidButton {...saveProps}>Save Playlist</SolidButton>
  </Wrap>
  <Wrap style={{ marginTop: "1rem" }}>
    <BackButton>Back to start</BackButton>
  </Wrap>
</Section>

<style lang="scss">
  @use "~mixins" as *;

  .wrap-playlist {
    justify-content: center;
    display: flex;
  }
</style>
