---
import { SolidButton, SpotifyWindow, Wrap } from "paully";
import Section from "#components/Section";
import RefreshButton from "#components/Buttons/Refresh";
import BackButton from "#components/Buttons/Back";
import playlist from "#data/playlist";
import data from "#selectors/data";
import cnames from "#selectors/cnames";

let name = data.section.save_playlist;

let style = {
  display: "none",
};

let sectionProps = {
  name,
  style,
  data: {
    cy: name,
  },
};

let saveProps = {
  backgroundColor: "green",
  className: cnames.button.save,
  padding: 16,
};
---

<Section {...sectionProps}>
  <div class="wrap-playlist">
    <SpotifyWindow {...playlist}>
      <RefreshButton />
    </SpotifyWindow>
  </div>
  <Wrap style={{ marginTop: "3rem" }}>
    <SolidButton {...saveProps}>Save Playlist</SolidButton>
  </Wrap>
  <Wrap style={{ marginTop: "1rem" }}>
    <BackButton>Back to start</BackButton>
  </Wrap>
</Section>

<style lang="scss">
  @use "#mixins" as *;

  .wrap-playlist {
    justify-content: center;
    display: flex;
  }
</style>
