---
import Section from "~Components/Section";
import store from "~data/store";

let sectionProps = {
  name: "tracks-added",
  style: {
    display: "none",
    marginTop: "3rem",
  },
};
---

<Section {...sectionProps}>
  <p>
    <strong data-print="tracks-added">0</strong> tracks added since {
      store.selected.year
    }
  </p>
</Section>
