---
import Section from "~components/Section";
import { section } from "~scripts/selectors/data";

let name = section.tracks_added;

let sectionProps = {
  name,
  style: {
    display: "none",
  },
};
---

<Section {...sectionProps} className={name}>
  <p>
    <strong data_print={name}>0</strong> tracks added
    <span data_print="since">
      since <span data_print="year-added">2025</span>
    </span>
  </p>
</Section>

<style lang="scss">
  .tracks_added {
    margin-top: 3rem;
  }
</style>
