---
import Section from "#components/Section";
import data from "#selectors/data";

let name = data.section.tracks_added;

let sectionProps = {
  name,
  style: {
    display: "none",
  },
  data: {
    cy: "tracks_added",
  },
};
---

<Section {...sectionProps} className={name}>
  <p>
    <strong data-print={name}>0</strong> tracks added
    <span data-print="since">
      since <span data-print="year-added">2025</span>
    </span>
  </p>
</Section>

<style lang="scss">
  .tracks_added {
    margin-top: 3rem;
  }
</style>
