---
import Section from "~Components/Section";

let sectionProps = {
  name: "tracks-added",
  style: {
    display: "none",
    marginTop: "3rem",
  },
};
---

<Section {...sectionProps}>
  <p><strong data-print="tracks-added">0</strong> tracks added this year</p>
</Section>
