---
import { InvisibleButton } from "paully";
import SettingsToggle from "~Components/Card/Settings/Toggle";
import SettingsRange from "~Components/Card/Settings/Range";
import SettingsSelect from "~Components/Card/Settings/Select";

let { settings } = Astro.props;

let colors = ["blue", "cyan", "purple", "pink", "red", "orange"];
let restartColors = () => color_index + 1 == colors.length;

let groups = [];
let group = 0;
let current = 0;
let max = 2;

let color_index = 0;
let setting_index = 0;

settings.forEach(function (setting) {
  let first = current == 0;
  let last = current + 1 == max;

  if (first) groups.push([]);

  groups[group].push(setting);

  current++;

  if (last) {
    current = 0;
    group++;
  }
});

function settingProps({ setting, color }) {
  let evenOrOdd = setting.index % 2 ? "even" : "odd";

  setting.evenOrOdd = evenOrOdd;

  let containerProps = {
    "class:list": [
      "setting",
      setting.evenOrOdd,
      setting.editable && "editable",
    ],
    "data-group": setting.group?.name,
    "data-snake": setting.snake,
    "data-type": setting.type,
  };

  return {
    containerProps,
    setting,
    color,
  };
}
---

<script src="~scripts/components/card/settings.js"></script>

{
  groups.map(function (group, index) {
    let display = index > 0 ? "none" : "block";

    return (
      <ul class="settings" style={{ display }}>
        {group.map(function (setting) {
          restartColors() ? (color_index = 0) : color_index++;

          setting.index = setting_index++;

          let is = {
            toggle: setting.type == "toggle",
            range: setting.type == "range",
            select: setting.type == "select",
          };

          let color = colors[color_index];

          let props = settingProps({ setting, color });

          if (is.toggle) return <SettingsToggle {...props} />;
          if (is.range) return <SettingsRange {...props} />;
          if (is.select) return <SettingsSelect {...props} />;
        })}
      </ul>
    );
  })
}

{
  groups.length > 1 && (
    <div class="wrap-pagination">
      {groups.map((_, index) => (
        <InvisibleButton className="dot-button" disabled={index == 0} />
      ))}
    </div>
  )
}

<style lang="scss">
  @use "~mixins" as *;

  .settings {
    max-width: $max-width-card-copy--config;
    border-radius: $border-radius-card;
    background-color: white;
    min-width: toRem(206);
    font-size: 1.125rem;
    border: 1px solid;
    padding-left: 0;
    color: black;
    margin: 0;
  }

  .wrap-pagination {
    margin-top: $margin-bottom-card-header;
    justify-content: center;
    display: flex;
    gap: toRem(8);
  }

  .dot-button {
    @include size(1rem);
    border-radius: 50%;
    border: 2px solid;

    @include focus {
      background-color: grey;
      outline: none;
    }
  }

  .dot-button[disabled] {
    background-color: black;
    pointer-events: none;
  }
</style>
