---
import Layout from "~layouts/Main";
import { SolidButton, Wrap } from "paully";

import { seo } from "paully/data";
import { button } from "~scripts/selectors/classNames";

const layoutProps = {
  title: "Home | Yearly | Songs you discovered this year",
  keywords: seo.keywords("yearly, spotify, songs, discover"),
  description: "I'm a " + seo.job.title + ". " + seo.job.description,
};
---

<script src="~scripts/pages/index.js"></script>

<Layout {...layoutProps}>
  <Wrap style={{ textAlign: "center" }}>
    <div>
      <h1>Yearly</h1>
      <h4>Songs you discovered this year</h4>
      <SolidButton className={button.login}>Log in</SolidButton>
    </div>
  </Wrap>
</Layout>

<style lang="scss">
  @use "~mixins" as *;

  .login_button {
    max-width: toRem(150);
    width: 100%;
  }

  .playlist {
    display: inline-block;
  }
</style>
