---
import attrs from "~scripts/selectors/attrs";
import cnames from "~scripts/selectors/cnames";

let announcementProps = {
  class: cnames.selectForm.announce,
  [attrs.aria.live]: "off",
  role: "alert",
};
---

<div {...announcementProps}></div>

<style lang="scss" is:global>
  .select-form-announce {
    opacity: 0;
    height: 0;
  }
</style>
