---
import cnames from "~scripts/selectors/cnames";

let announcementProps = {
  class: cnames.selectForm.announce,
  "aria-live": "assertive",
  role: "alert",
};
---

<div {...announcementProps}></div>

<style lang="scss" is:global>
  .select-form-announce {
    opacity: 0;
    height: 0;
  }
</style>
