---
import cnames from "~scripts/selectors/cnames";

let data = Astro.props;

let props = {
  class: cnames.selectForm.form,
  ...data,
};
---

<form {...props}>
  <div>
    <slot />
  </div>
</form>

<style lang="scss" is:global>
  @use "~mixins" as *;

  $max-width-select: toRem(200);

  .select_form {
    position: relative;
    text-align: left;
  }

  .select_form.with-label {
    grid-template-columns: auto $max-width-select;
    justify-content: center;
    display: grid;
  }

  .select_form[data-state="open"] .select-form-list {
    display: block;
  }
</style>
