---
import SelectFormLabel from "~components/SelectForm/Label";
import { mapObjectToProps } from "paully/helpers";
import cnames from "~scripts/selectors/cnames";

let { label, className, data } = Astro.props;

let props = {
  "class:list": [
    cnames.selectForm.form,
    label ? "with-label" : "no-label",
    className,
  ],
};

props = mapObjectToProps({ data, props });
---

<form {...props}>
  {label && <SelectFormLabel>{label}</SelectFormLabel>}
  <div>
    <slot />
  </div>
</form>

<style lang="scss" is:global>
  @use "~mixins" as *;

  $max-width-select: toRem(200);

  .select_form {
    position: relative;
    text-align: left;
  }

  .select_form.with-label {
    grid-template-columns: auto $max-width-select;
    justify-content: center;
    display: grid;
  }

  .select_form[data_state="open"] .select-form-list {
    display: block;
  }
</style>
