---
import SelectFormLabel from "~components/SelectForm/Label";
import { mapObjectToProps } from "paully/helpers";

let { label, className, data } = Astro.props;

let props = {
  "class:list": ["select-form", label ? "with-label" : "no-label", className],
};

props = mapObjectToProps({ data, props });
---

<form {...props}>
  {label && <SelectFormLabel>{label}</SelectFormLabel>}
  <div>
    <slot />
  </div>
</form>

<style lang="scss" is:global>
  @use "~mixins" as *;

  $max-width-select: toRem(200);

  .select-form {
    position: relative;
    text-align: left;
  }

  .select-form.with-label {
    grid-template-columns: auto $max-width-select;
    justify-content: center;
    display: grid;
  }

  .select-form[data_state="open"] .select-form-list {
    display: block;
  }
</style>
