<label class="select-form-label"><slot />: </label>

<style lang="scss" is:global>
  @use "~mixins" as *;

  $padding-select: 0.75rem;

  .select-form-label {
    padding: $padding-select;
    display: block;
  }
</style>
