---
import CardContent from "~Components/Card/Content";
import SelectButton from "~Components/Buttons/Select";

let { content, id } = Astro.props;

let multiple = content.length > 1;

let props = {
  class: "card-container",
  "data-id": id,
};
---

<div {...props}>
  {content.map((content) => <CardContent {...content} multiple={multiple} />)}
  <SelectButton />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .card-container {
    margin: $margin-top-card $margin-card $margin-card;
    border-radius: $border-radius-card;
    background-color: white;
    border: 1px solid black;
    padding: $padding-card;
    display: inline-block;
  }

  .card-container.selected-state {
    border-color: currentColor;
    background-color: $c-green;
    color: white;
  }
</style>
