---
import CardContent from "~components/Card/Content";
import SelectButton from "~components/Buttons/Select";
import cnames from "~scripts/selectors/cnames";

let { content, id } = Astro.props;

let multiple = content.length > 1;

let props = {
  class: cnames.card.container,
  data_id: id,
};
---

<div {...props}>
  {
    content.map(function (content) {
      let props = {
        ...content,
        multiple,
        id,
      };
      return <CardContent {...props} />;
    })
  }
  <SelectButton />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .card_container {
    margin: $margin-top-card $margin-card $margin-card;
    border-radius: $border-radius-card;
    padding: $padding-card * 1.5;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
  }

  .card_container.selected-state {
    background-color: green;
    border-color: green;
    color: white;
  }
</style>
