---
let { Content, className } = Astro.props;

let props = {
  "class:list": ["markdown", className],
};
---

<div {...props}>
  <Content />
</div>

<style lang="scss" is:global>
  .markdown {
    /* background-color: gainsboro; */
  }

  .markdown h3 {
    /* color: blue; */
  }
</style>
