---
let { className, setting } = Astro.props;

let rangeProps = {
  "class:list": ["range-input", className],
  value: setting.value,
  min: setting.range.min,
  max: setting.range.max,
  "data-type": setting.type,
  "data-snake": setting.snake,
};
---

<div class="container">
  <input type="range" {...rangeProps} />
</div>

<style lang="scss">
  @use "~mixins" as *;

  $size-range-thumb: 1rem;

  @mixin thumb {
    @include size($size-range-thumb);

    & {
      border-radius: $size-range-thumb;
      background-color: white;
      border: 2px solid black;
      -webkit-appearance: none;
      position: relative;
      appearance: none;
      z-index: 2;
    }
  }

  .container {
    padding-bottom: toRem(8);
    padding-top: toRem(8);
  }

  .range-input {
    background-color: black;
    height: toRem(2);
    cursor: pointer;
    display: block;
    margin: 0;

    @include focus {
      outline: none;

      &::-webkit-slider-thumb {
        background-color: grey;
      }
    }
  }

  .range-input::-moz-range-thumb {
    @include thumb;
  }

  .range-input::-webkit-slider-thumb {
    @include thumb;
  }
</style>
