---
import { mapObjectToProps } from "paully/helpers";

let { name, className, style, data } = Astro.props;

let props = {
  class: className,
  style,
};

data = {
  ...data,
  section: name,
};

props = mapObjectToProps({ data, props });
---

<div {...props}>
  <slot />
</div>
