---
let containerProps = {
  class: "select-container",
};

let label = "cars";

let labelProps = {
  for: label,
};

let selectProps = {
  name: label,
  id: label,
};
---

<div {...containerProps}>
  <label {...labelProps}>Source:</label>
  <select {...selectProps}>
    <option value="12345">Liked songs</option>
  </select>
</div>

<style lang="scss">
  @use "~mixins" as *;

  @mixin display {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
  }

  .select-container {
    margin-top: 2rem;
    // width: 200px;
  }

  select {
    @include display;
    appearance: none;
    padding: 8px;
    width: 160px;
  }

  label {
    @include display;
  }
</style>
