---
let { label, options, className } = Astro.props;

let formProps = {
  "class:list": ["select-form", label ? "with-label" : "no-label", className],
};

let labelProps = {
  class: "select-form-label",
};

let buttonProps = {
  "aria-controls": "listbox",
  "aria-haspopup": "listbox",
  "aria-expanded": false,
  class: "select-form-button",
  role: "combobox",
  tabIndex: "0",
};

let listProps = {
  class: "select-form-list",
  role: "listbox",
};

let announcementProps = {
  "aria-live": "assertive",
  class: "select-form-announce",
  role: "alert",
};
---

<form {...formProps}>
  {label && <label {...labelProps}>{label}: </label>}
  <div>
    <button {...buttonProps}>{options[0].title}</button>
    <ul {...listProps}>
      {
        options &&
          options.map(function ({ title, data }, index) {
            let props = {
              "class:list": ["select-form-item", index == 0 ? "active" : ""],
              "data-id": data,
              role: "option",
            };
            return <li {...props}>{title}</li>;
          })
      }
    </ul>
    <div {...announcementProps}></div>
  </div>
</form>

<style lang="scss" is:global>
  @use "~mixins" as *;

  $padding-select: 0.75rem;

  $max-width-select: toRem(200);

  $background-color-select: white;

  $border-radius-select: toRem(8);

  .select-form {
    position: relative;
    text-align: left;
  }

  .select-form.with-label {
    grid-template-columns: auto $max-width-select;
    justify-content: center;
    display: grid;
  }

  .select-form-label {
    padding: $padding-select;
    display: block;
  }

  .select-form-button {
    @include text-overflow;

    & {
      background-color: $background-color-select;
      border-radius: $border-radius-select;
      border: 1px solid currentColor;
      padding: $padding-select;
      padding-right: toRem(36);
      min-height: toRem(48.5);
      font-size: inherit;
      position: relative;
      text-align: left;
      width: 100%;

      @include focus {
        outline: 2px dashed;
        outline-offset: 4px;
      }
    }

    &[aria-expanded="true"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .select-form-button::after {
    border: 6px solid currentColor;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: toRem(12);
    top: toRem(20);
    content: "";
    height: 0;
    width: 0;
  }

  .select-form-button[aria-expanded="true"]::after {
    border-bottom-color: currentColor;
    border-top-color: transparent;
    top: toRem(12);
  }

  .select-form-list {
    border-bottom-right-radius: $border-radius-select;
    border-bottom-left-radius: $border-radius-select;
    background-color: $background-color-select;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    border-left: 1px solid currentColor;
    max-width: $max-width-select;
    max-height: toRem(158);
    position: absolute;
    overflow-y: auto;
    text-align: left;
    list-style: none;
    padding-left: 0;
    display: none;
    width: 100%;
    z-index: 2;
  }

  .select-form-list.active {
    display: block;
  }

  .select-form-item {
    @include text-overflow;

    & {
      padding: $padding-select;
      min-height: toRem(52);
      cursor: pointer;
    }

    + .select-form-item {
      border-top: 1px solid currentColor;
      margin-top: 0;
    }
  }

  .select-form-item.active {
    background-color: blue;
    color: white;
  }

  .select-form-item:hover {
    background-color: gainsboro;
    color: black;
  }

  .select-form-item.current {
    background-color: gainsboro;
    color: black;
  }

  .select-form-announce {
    opacity: 0;
    height: 0;
  }
</style>
