---
import RangeInput from "~components/Range";
import createSettingClasses from "~scripts/creators/createSettingClasses";

let { setting, index } = Astro.props;
---

<li class={createSettingClasses(setting, index)}>
  <div class="wrap-title">
    <span class="title">{setting.title}</span>
    <span class="output">none</span>
    <span class="mins">mins</span>
  </div>

  <RangeInput setting={setting} />
</li>

<style lang="scss">
  @use "~mixins" as *;

  .wrap-title {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    gap: $margin-card;
    display: grid;
  }

  .mins {
    display: none;
  }
</style>
