---
import { Range } from "paully";
import createSettingClasses from "~scripts/creators/createSettingClasses";

let { setting, index } = Astro.props;
---

<li class={createSettingClasses(setting, index)}>
  <div class="info">
    <span class="title">{setting.title}</span>
    <span class="output">none</span>
  </div>
  <Range setting={setting} />
</li>

<style lang="scss">
  @use "~mixins" as *;

  .info {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    gap: $margin-card;
    display: grid;
  }
</style>
