---
import { SelectForm } from "paully";
import createSettingClasses from "~scripts/creators/createSettingClasses";

let { setting, index } = Astro.props;
---

<li class={createSettingClasses(setting, index)}>
  <SelectForm {...setting} />
</li>
