---
import { Toggle } from "paully";
import { Check } from "paully/svgs";
import createSettingClasses from "~scripts/creators/createSettingClasses";

let { setting, index } = Astro.props;

console.log("setting: ", setting.data["data-card"]);
---

<li class={createSettingClasses(setting, index)}>
  <span class="title">{setting.title}</span>
  {setting.editable ? <Toggle {...setting} /> : <Check className="check" />}
</li>

<style lang="scss">
  @use "~mixins" as *;

  .setting.toggle {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
  }
</style>
