---
import { Toggle } from "paully";
import { Check } from "paully/svgs";

let { setting, setting_index, color } = Astro.props;

let evenOrOdd = setting_index % 2 ? "even" : "odd";

let containerProps = {
  "class:list": ["setting", evenOrOdd, setting.editable && "editable"],
  "data-type": setting.type,
  "data-name": setting.data,
};

let toggleProps = {
  checked: setting.value,
  className: "toggle",
  color,
};
---

<li {...containerProps}>
  <span class="title">{setting.title}</span>
  {!setting.editable && <Check className="check" />}
  {setting.editable && <Toggle {...toggleProps} />}
</li>

<style lang="scss">
  @use "~mixins" as *;

  .setting {
    justify-content: space-between;
    padding: $padding-card-setting;
    grid-auto-flow: column;
    align-items: center;
    font-weight: normal;
    gap: $margin-card;
    list-style: none;
    text-align: left;
    margin-top: 0;
    display: grid;
  }

  .setting.odd {
    background-color: aliceblue;
  }

  .setting:first-of-type {
    border-top-right-radius: $border-radius-card;
    border-top-left-radius: $border-radius-card;
  }

  .setting:last-of-type {
    border-bottom-right-radius: $border-radius-card;
    border-bottom-left-radius: $border-radius-card;
  }

  .setting:not(:first-of-type) {
    border-top: 2px dashed;
  }

  .check.selected-state {
    fill: black;
  }
</style>
