---
import "~styles/global.scss";
import { Head, Container, Banner } from "paully";
import Section from "~components/Section";
import data from "~scripts/selectors/data";

let bannerSectionProps = {
  name: data.section.banner,
  style: {
    display: "none",
  },
};

let bannerProps = {
  data: {
    print: data.section.banner,
  },
  style: {
    backgroundColor: "blue",
  },
};

let containerProps = {
  bottom: "0rem",
  top: "0rem",
};
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<html lang="en">
  <Head {...Astro.props} />
  <body data-state="visible">
    <Section {...bannerSectionProps}>
      <Banner {...bannerProps} />
    </Section>
    <Container {...containerProps}>
      <header></header>
      <slot />
      <footer></footer>
    </Container>
  </body>
</html>

<style lang="scss">
  @use "~mixins" as *;

  header,
  footer {
    height: toRem(100);
  }
</style>
