---
import "~styles/global.scss";
import { Head, Container, Banner } from "paully";
import usingLiveData from "~scripts/helpers/usingLiveData";
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<html lang="en">
  <Head {...Astro.props} />
  <body data-state="visible">
    {
      !usingLiveData && (
        <Banner className="offline-banner">
          <em>OFFLINE MODE</em>
        </Banner>
      )
    }
    <Container top="0rem" bottom="0rem">
      <header></header>
      <slot />
      <footer></footer>
    </Container>
  </body>
</html>

<style lang="scss">
  @use "~mixins" as *;

  header,
  footer {
    height: toRem(100);
  }

  .offline-banner {
    background-color: blue;
  }
</style>
